* {
    box-sizing: border-box;
}

body{
    background-color: #00ffff;
    width: 100vw;
}

.btns {
    margin-bottom: 50px;
}

.card {
    padding: 10px;
}

.row {
    width: auto;
}

.bot {
    border: none;
    text-decoration: none;
    background-color: inherit;
    padding: 10px;
}

.active {
    background-color: rgb(255, 47, 203);
    color: white;
}


@keyframes anim {
    0% {
        background-color: inherit;
        color: black
    }
    100% {
        background-color: rgb(255, 47, 203);
        color: white;
    }
}

.bot {
    border-radius: 5px;
}

.bot:hover{
    animation: anim 0.5s forwards;
}

.bot:focus {
    outline: none;
    background-color: rgb(255, 47, 203);
    color: white;
}

.btn-group{
    justify-content: space-evenly;
}

.groups {
    padding: 10px 0 0 0;
    background-color: rgb(255, 47, 203);
    border: none;
    box-shadow: none;
}

.operations {
    border: none;
    box-shadow: none;
}

.ot {
    color: white;
    background-color: rgb(255, 47, 203);
    border: none;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    font-weight: 600;

}

.ot:hover {
    color:rgb(255, 47, 203);
    background-color: white;
    outline: none;
    
}

.ot:focus {
    color:rgb(255, 47, 203);
    background-color: white;
    outline: none;
    
}

.altActive {
    background-color: white;
    color:rgb(255, 47, 203)
}


