* {
    box-sizing: border-box;
}

body{
    background-color: #222;
    width: 100vw;
}

.btns {
    margin-bottom: 50px;
}

.card {
    padding: 10px;
}

.row {
    width: auto;
}

.bot {
    border: none;
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.active, .bot:focus, .bot:hover {
    background-color: coral;
    color: #eee;
    outline: none;
}



.btn-group{
    justify-content: space-evenly;
}

.groups {
    padding: 10px 0 0 0;
    background-color: #444;
    border: none;
    box-shadow: none;
}

.operations {
    border: none;
    box-shadow: none;
    background-color: #eee;
}

.ot {
    color: #eee;
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px 10px 0 0;
    font-weight: 600;

}

.ot:hover, .ot:focus, .altActive {
    color:coral;
    background-color: #eee;
    outline: none;
    
}



